<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin-top: 20px;
            background-color: #f2f6fc;
            color: #69707a;
        }

        .img-account-profile {
            height: 10rem;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .card {
            box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }

        .card .card-header {
            font-weight: 500;
        }

        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }

        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }

        .form-control,
        .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }

        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    </style>
</head>

<body>
    <div class="container-xl px-4 mt-4">
        <nav class="nav nav-borders">
            <a class="nav-link active ms-0"
                href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
                target="__blank">Profile</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Brand Logo/Collection Center Image</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" id="logo_img"
                            src="https://th.bing.com/th/id/OIP.zRcA_TIATyqO7SZTwM2Y_wHaHL?rs=1&pid=ImgDetMain" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="upload_file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details<span class="text-warning"> (This Profile will be Public to
                            user)</span></div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Organization name</label>
                                <input class="form-control" id="organization_name" type="text"
                                    placeholder="Enter your Organization name">
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Physical address (including city,
                                        state, and postal/ZIP code)</label>
                                    <input class="form-control" id="address" type="text"
                                        placeholder="Enter Valid Address">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Description of the types of materials
                                        or items accepted for collection</label>
                                    <input class="form-control" id="description" type="text"
                                        placeholder="Enter the Description">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Operating hours (including days of the
                                        week and times)</label>
                                    <input class="form-control" id="operating_hours" type="text"
                                        placeholder="Enter the Operating Hours along with days of week">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Organization Public Email
                                        Address</label>
                                    <input class="form-control" id="email" type="text"
                                        placeholder="Enter the email address">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Organization Public Contact
                                        Number</label>
                                    <input class="form-control" id="contact_number" type="text"
                                        placeholder="Enter the contact number">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Charges of pick-up per kg</label>
                                    <input class="form-control" id="charges" type="text"
                                        placeholder="Enter the Charges">
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" id="save">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="jquery-3.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyChtcoj-0g8LcHXW26Tyqkm_7Xxj8jG5Ow",
        authDomain: "food-blur.firebaseapp.com",
        projectId: "food-blur",
        storageBucket: "food-blur.appspot.com",
        messagingSenderId: "911842353467",
        appId: "1:911842353467:web:3107951f8434294e96571e",
        measurementId: "G-9WG8FE55NE"
    };

    firebase.initializeApp(firebaseConfig);
    const dataRef = firebase.firestore();
    const storage = firebase.storage();
    document.getElementById('save').addEventListener('click', () => {
        var file = document.getElementById("upload_file").files[0];
        storage.ref().child(file.name).put(file).then((snapshot) => {
            storage.ref().child(file.name).getDownloadURL().then((url) => {
                console.log(url);
                c_send_user_profile_data(url)
                console.log("Image uploaded successfully");
            })
        })
    })
</script>

<script>
    var logo_img = document.getElementById('logo_img')
    var upload_file = document.getElementById('upload_file')
    var organization_name = document.getElementById('organization_name').value
    var address = document.getElementById('address').value
    var description = document.getElementById('description').value
    var operating_hours = document.getElementById('operating_hours').value
    var email = document.getElementById('email').value
    var contact_number = document.getElementById('contact_number').value
    var charges = document.getElementById('charges').value
    var save = document.getElementById('save')

    upload_file.addEventListener('change', function () {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                logo_img.setAttribute('src', event.target.result);
            };
            reader.readAsDataURL(file);
        }
    });

    function c_send_user_profile_data(url) {
        var organization_name = document.getElementById('organization_name').value
        var address = document.getElementById('address').value
        var description = document.getElementById('description').value
        var operating_hours = document.getElementById('operating_hours').value
        var contact_number = document.getElementById('contact_number').value
        var email = document.getElementById('email').value
        var charges = document.getElementById('charges').value
        query = { "organization_name": organization_name, "address": address, "description": description, "operating_hours": operating_hours, "contact_number": contact_number, "email": email, 'charges': charges, "profile_url": url }
        console.log(query)
        $.ajax({
            type: 'POST',
            url: "{{url_for('c_send_user_profile_data')}}",
            data: { "organization_name": organization_name, "address": address, "description": description, "operating_hours": operating_hours, "contact_number": contact_number, "email": email, 'charges': charges, "profile_url": url },
            success: function (response) {
                if (response.status == 'success') {
                    alert(response.message)
                    console.log(response.message)
                } else {
                    if (response.status == 'error') {
                        alert(response.message)
                        console.log(response.message)
                    } else {
                        alert('Something went wrong')
                        console.log('Something went wrong')
                    }
                }
            },
            error: function (error) {
                alert(error)
                console.log(error)

            }
        })
    }

    c_get_profile()
    function c_get_profile() {
        $.ajax({
            type: 'POST',
            url: "{{url_for('c_get_profile')}}",
            success: function (response) {
                if (response.status == 'success') {
                    data = response.data
                    data = JSON.parse(data)
                    console.log(data["organization_name"])
                    document.getElementById('logo_img').setAttribute('src',data.profile_url)
                    document.getElementById('organization_name').value = data['organization_name']
                    document.getElementById('address').value = data['address']
                    document.getElementById('description').value = data['description']
                    document.getElementById('operating_hours').value = data['operating_hours']
                    document.getElementById('email').value = data['email']
                    document.getElementById('contact_number').value = data['contact_number']
                    document.getElementById('charges').value = data['charges']
                } else {
                    if (response.status == 'error') {
                        console.log('Profile not found')
                    } else {
                        console.log('Something went wrong')
                    }
                }

            },
            error: function (error) {
                console.log(error)
            }
        })
    }


</script>

</html>